<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TEST_COUCH_IAM_API_KEY</key>
	<string></string>
	<key>TEST_COUCH_RA_SMALL</key>
	<false/>
	<key>TEST_COUCH_USERNAME</key>
	<string></string>
	<key>TEST_COUCH_PASSWORD</key>
	<string></string>
	<key>TEST_COUCH_HOST</key>
	<string>localhost</string>
	<key>TEST_COUCH_PORT</key>
	<string>5984</string>
	<key>TEST_COUCH_HTTP</key>
	<string>http</string>
	<key>TEST_COUCH_LOGGING_LEVEL</key>
	<integer>0</integer>
	<key>TEST_COUCH_N_DOCS</key>
	<integer>2500</integer>
	<key>TEST_COUCH_LARGE_REV_TREE_SIZE</key>
	<integer>1500</integer>
</dict>
</plist>
